.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.searched-city {
    width: 400px;
}
.card-container {
    width: 400px;
    height: 500px;
    background-image: url(../image/2.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px;
}
.degree-value{
    height: 60px;
    font-size: 50px;
}
.degree{
    display: flex;
    flex-direction: column;
}
.information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.status-icon {
    font-size: 50px;
    width: 91px;
}
.history {
    font-size: 30px;
}
.history-container{
    display: flex;
    flex-direction: column;
}
.list-element {
    width: 250px;
    height: 50px;
    padding: 20px 10px!important;
    text-align: center;
    color: rgb(20, 214, 20);

}
.icon {
    width: 20px ;
    height: 20px;
}
.save {
    width: 80px;
    height: 40px;
    background-color: rgb(17, 194, 17);
    border-radius: 5px;
    border: 1px solid rgb(17, 194, 17);
    color:  #fff;
}
.tbody-container {
}
.table-title  {
    padding: 20px 20px!important;
    text-align: center;
}